.git
.github
.next
node_modules

.env
.env.*
!.env.example

artifacts
downloads
playwright
playwright-report
test-results
stich

*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Dockerfile
docker-compose*.yml
